.title{
    background-color: #000000;
    color: white;
    margin-top: 0;
    height: 60px;
    padding: 15px 0px 0px 10vw;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin: 3vh 0 0 10vw;
}



.containers{
    display: inline-flex;
}

.container-title{
    font-size: 20px;
    font-weight: 600;
}

.generateall-container{
    margin-left: 50px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    
}

.error{
    margin-bottom: 15px;
    width: 410px;
    padding: 10px;
    background-color: black;
    color: rgb(255, 10, 10);
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover{

}

.clockout{
    font-size: 25px;
    font-weight: 450;
}

.time-index{
    font-size: 20px;
    font-weight: 500;
}

.output{
    background-color: rgb(0, 0, 0);
    color: green;
    width: 370px;
    padding: 1px 30px 1px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.footer{
    /* display: flex;
    justify-content:flex-end; */
    margin: 40vh 0 20px 0;
    padding-left: 10vw;
    /* height: 25vh; */
}

.contact{
    display: flex;
    margin-right: auto;
}

.email{
    padding-left: 10px;
    animation: bouncing 1.5s infinite ease-in-out;
}

.social-media{
    margin-right: 30vw;
    cursor: pointer;
}

.linkedin{
    padding-left: 5px;
}

.instagram{
    padding-left: 5px;
}

svg{
    transition: 100ms transform ease-in-out;
}

svg:hover{
    transform: scale(1.15);
}


@keyframes bouncing {
    0% {padding-left: 10px;}  
    50% {padding-left: 17px;}  
    100% {padding-left: 10px;}  
}

