.App{
    display: flex;
    flex-direction: column;
    margin: 10vh 0 0 10vw;
}

.title{
    font-size: 30px;
    font-weight: 600;
    
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    padding: 8px 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{

}

.clockout{
    font-size: 25px;
    font-weight: 450;
}